In [7]:
import fasttext
import pandas as pd
import os

In [8]:
cd ~

/Users/uabhifn

In [9]:
path_to_pretrained_model = '/Users/uabhifn/Downloads/lid.176.bin'
fmodel = fasttext.load_model(path_to_pretrained_model)

Warning : `load_model` does not return WordVectorModel or SupervisedModel any more, but a `FastText` object which is very similar.

In [10]:
fmodel.predict("Dobraye ootro")

(('__label__pl',), array([0.18572101]))

In [11]:
sents = pd.read_csv('~/sentences.csv', sep='\t', header=None)

In [12]:
sents

                0    1                                               2
0               1  cmn                                          我們試試看！
1               2  cmn                                         我该去睡觉了。
2               3  cmn                                         你在干什麼啊？
3               4  cmn                                          這是什麼啊？
4               5  cmn                          今天是６月１８号，也是Muiriel的生日！
...           ...  ...                                             ...
9714894  10161478  deu            Ich verspürte einen leichten Schock.
9714895  10161479  fra                Tom a conduit en état d'ivresse.
9714896  10161480  fra                Nous avons misé sur sa victoire.
9714897  10161481  fra     La nouvelle a été diffusée à la télévision.
9714898  10161482  deu  Die Nachricht wurde über Fernsehen verbreitet.

[9714899 rows x 3 columns]

In [13]:
sents.iloc[1000:1239]

         0    1                                                  2
1000  1034  deu                            Welcher ist Ihr Koffer?
1001  1035  deu           Ich habe Husten und ein bisschen Fieber.
1002  1036  deu  Mach den Schrank auf der linken Seite auf, dor...
1003  1037  deu  Es gibt auch Nachtclubs, wo Flamenco getanzt w...
1004  1038  deu           Im Eintritt ist ein Getränk inbegriffen.
...    ...  ...                                                ...
1234  1279  fra                        Je ne supporte pas ce type.
1235  1280  eng   Today is June 18th and it is Muiriel's birthday!
1236  1282  eng                                 Muiriel is 20 now.
1237  1283  eng                         The password is "Muiriel".
1238  1284  eng                               I will be back soon.

[239 rows x 3 columns]

In [14]:
sents[1].value_counts()

eng    1497192
rus     858517
ita     791769
tur     710151
epo     662106
        ...
nys          1
oji          1
urh          1
lou          1
hax          1
Name: 1, Length: 398, dtype: int64

In [16]:
sents.columns = ['index', 'lang', 'text']

In [17]:
samples_ind = pd.DataFrame()

In [18]:
langs_list = []
texts_list = []
for subdir, dirs, files in os.walk('/Users/uabhifn/Downloads/dakshina_dataset_v1.0/'):
    for file in files:
        if 'roman.' in file:
            with open(os.path.join(subdir, file)) as f:
                texts = f.readlines()
            texts_list.extend([t.strip() for t in texts])
            langs_list.extend([file.split('.')[0] + '-rom'] * len(texts))

In [19]:
samples_ind['lang'] = langs_list
samples_ind['text'] = texts_list

In [20]:
samples_ind

          lang                                               text
0       ur-rom  aik hi "teen the bhai" hindi film ke liye teen...
1       ur-rom  lekin ab sher goi in ke liye faqat aik mashgha...
2       ur-rom  laikin agar koi khatra na ho to phir haram mag...
3       ur-rom  faal taraqqi Urdu: unhon ne Urdu kee tarweej a...
4       ur-rom  hindustan mein shamshan ghaat ya shamshan woh ...
...        ...                                                ...
119753  ta-rom  ipporaattam 1938 il palar kaithu seiyappattuch...
119754  ta-rom               siriyavar eythiya selvatthin, maanda
119755  ta-rom  kattadakkalai sirappu vaintha koyilgalai thavi...
119756  ta-rom  migga paravalaga pinparrum irandhu podhu vagai...
119757  ta-rom                        mugatthil thelittha saaral.

[119758 rows x 2 columns]

In [21]:
samples_ind['lang'].value_counts()

ta-rom    10000
si-rom    10000
bn-rom    10000
te-rom    10000
pa-rom    10000
kn-rom    10000
hi-rom    10000
ml-rom    10000
gu-rom    10000
mr-rom    10000
sd-rom     9999
ur-rom     9759
Name: lang, dtype: int64

In [22]:
egy = pd.read_csv('/Users/uabhifn/Downloads/Arabizi Identification/arabizi-twitter-egy.csv')
leb = pd.read_csv('/Users/uabhifn/Downloads/Arabizi Identification/arabizi-twitter-leb.csv')

In [23]:
tun = pd.read_csv('~/Downloads/tunizi_train')

In [24]:
samples_ar = pd.DataFrame()

In [25]:
samples_ar['text'] = pd.concat([tun['text'], egy[egy['arabizi'] == '1']['tweet_filter'], leb[leb['arabizi'] == '1']['tweet_filter']])

In [26]:
samples_ar['lang'] = 'ar-rom'

In [27]:
samples_ar

                                                   text    lang
0                                          alah yara7me  ar-rom
1     brabi atini najah wahed amalta fi akaber korat...  ar-rom
2                              bravo slouma walah rajel  ar-rom
3                             elboutoula ma nefhem chay  ar-rom
4                                          ma7laa zinkk  ar-rom
...                                                 ...     ...
4973                                         d el zabet  ar-rom
4982                            tab law omt w gbthalk..  ar-rom
4983  kont badawar fe el laptop la2eet awel soura la...  ar-rom
4984      bgd ya enn fe nass amhathum msh mwguda m3ahum  ar-rom
4986                                          mashy :')  ar-rom

[70955 rows x 2 columns]

In [28]:
samples_rom = pd.concat([samples_ind, samples_ar])

In [29]:
augmented_data = pd.concat([sents[['lang', 'text']], samples_rom])

In [30]:
augmented_data

        lang                                               text
0        cmn                                             我們試試看！
1        cmn                                            我该去睡觉了。
2        cmn                                            你在干什麼啊？
3        cmn                                             這是什麼啊？
4        cmn                             今天是６月１８号，也是Muiriel的生日！
...      ...                                                ...
4973  ar-rom                                         d el zabet
4982  ar-rom                            tab law omt w gbthalk..
4983  ar-rom  kont badawar fe el laptop la2eet awel soura la...
4984  ar-rom      bgd ya enn fe nass amhathum msh mwguda m3ahum
4986  ar-rom                                          mashy :')

[9905612 rows x 2 columns]

In [31]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(augmented_data.lang.value_counts())

eng       1497192
rus        858517
ita        791769
tur        710151
epo        662106
kab        559314
deu        559269
fra        468215
por        386991
ber        386397
spa        343703
hun        326832
jpn        210544
heb        197387
ukr        173852
nld        145105
fin        129635
pol        109853
mkd         77938
ar-rom      70955
cmn         68412
mar         64438
lit         60688
ces         58552
dan         49570
toki        45217
srp         45177
swe         42319
lat         39859
ara         36122
ell         34147
ina         26799
ron         25078
bul         24502
pes         23972
tlh         19359
vie         19247
nds         17937
lfn         17553
tgl         16699
jbo         15950
slk         15561
ind         14691
hin         14233
nob         14225
tat         13674
bel         12633
isl         11090
kn-rom      10000
ta-rom      10000
gu-rom      10000
mr-rom      10000
bn-rom      10000
ml-rom      10000
te-rom      10000
pa-rom      10000
si-rom      10000
hi-rom      10000
sd-rom       9999
ur-rom       9759
kmr          8630
cat          7973
uig          7792
kor          7588
ido          7446
ile          7365
bre          7218
yid          7191
tuk          6729
eus          6165
yue          6136
kat          5767
oci          5693
gos          5623
aze          5355
run          5278
hrv          5222
ben          4716
glg          4613
zsm          4555
wuu          4553
mhr          4300
vol          4139
avk          4101
afr          4029
cor          3925
kzj          3763
kaz          3707
tha          3665
est          3648
asm          3128
grn          2961
frr          2855
dtp          2773
mon          2757
cbk          2623
sqi          2526
ilo          2455
gle          2389
arq          2307
hye          2248
gcf          2085
war          2025
ckb          2022
urd          2008
lvs          1962
swg          1938
ota          1892
lzh          1822
zza          1693
nno          1576
chv          1566
khm          1511
hsb          1495
pam          1482
ceb          1478
kha          1372
pcd          1346
cym          1344
zgh          1310
orv          1307
grc          1159
lad          1129
slv          1093
dsb          1077
gla          1035
sah           943
csb           937
sdh           923
bua           905
rom           870
xal           870
hrx           857
uzb           855
prg           838
mal           827
pms           823
ltz           805
arz           798
nst           793
lij           690
hoc           651
jav           628
zlm           610
swh           589
thv           585
bos           567
tpw           561
ckt           531
mya           433
max           427
que           422
nov           421
fkv           417
fao           402
mri           388
gsw           381
ori           374
fry           355
cha           343
tam           334
tzl           332
ang           328
crh           308
\N            305
mus           292
ast           280
got           269
tel           255
kir           254
awa           253
xho           252
shy           247
bzt           244
oss           236
rif           226
ain           220
lao           219
bak           215
nah           212
amh           211
mlt           208
bar           204
pan           196
vec           190
krl           185
sme           181
kan           176
npi           176
krc           170
guj           168
sux           160
san           156
haw           155
egl           144
nog           144
afb           137
qya           136
ldn           135
enm           130
min           121
evn           116
kum           116
rue           116
wol           114
bal           105
tir           103
arg           103
cho            98
stq            96
shs            95
fro            93
pap            89
tpi            89
apc            88
sco            87
sjn            86
lin            85
cmo            85
nav            85
lld            85
mrj            83
ksh            82
mww            82
som            80
afh            79
zul            77
bvy            76
smo            76
kal            76
moh            74
nus            68
udm            68
tly            66
ext            66
tmr            65
hat            64
tgk            63
hau            60
mgm            60
mlg            59
hbo            59
ppl            59
sma            59
tet            59
lut            59
xmf            58
iii            58
bfz            57
pdc            57
dws            57
bho            55
ary            55
pag            55
tts            55
chn            53
wln            53
hak            53
sin            53
ike            50
acm            49
cjy            49
kas            49
sgs            47
iba            46
kpv            45
hil            44
pus            44
ngu            43
koi            43
sna            42
bod            41
tsn            41
nch            39
fij            38
kjh            38
yor            37
fuv            36
gbm            36
cycl           36
pnb            35
drt            35
scn            35
hif            34
pau            34
liv            33
lim            33
glv            33
rap            33
niu            32
ibo            32
frm            32
fur            31
dng            31
sun            31
ady            31
tah            30
bjn            30
umb            30
lmo            29
bis            28
aln            28
mvv            28
akl            28
ood            28
che            28
kin            28
chr            28
abk            27
mah            27
myv            26
ewe            26
jam            26
div            26
aoz            24
nya            24
cos            24
kek            24
ltg            23
mwl            22
lkt            22
osp            22
izh            21
oar            21
klj            20
roh            20
ton            20
ngt            19
cay            19
tyv            17
new            17
guc            16
toi            15
phn            15
vro            15
srd            15
qxq            14
tvl            14
gil            14
nlv            14
non            14
gag            14
ofs            13
vep            13
bam            13
tkl            12
emx            12
kaa            11
brx            11
lzz            11
nau            11
yua            10
zea            10
laa            10
kam            10
xqa            10
mdf             9
mnw             9
jdt             9
chg             8
sag             8
mai             8
mic             8
otk             7
mad             7
fuc             7
quc             7
cpi             6
diq             6
aii             6
snd             6
mfe             6
kiu             6
jpa             6
bcl             5
tmw             5
ajp             5
pal             5
crk             4
hsn             4
gom             4
hnj             4
tig             3
tso             3
pfl             3
alt             3
gaa             3
hdn             3
mni             3
ban             3
gan             3
kxi             3
ayl             3
syc             3
mnc             2
osx             2
srn             2
sot             2
pli             2
aym             2
crs             2
lug             2
nys             1
lou             1
hax             1
rel             1
urh             1
ryu             1
cyo             1
ssw             1
oji             1
Name: lang, dtype: int64

In [32]:
augmented_data.reset_index(inplace=True)
augmented_data['index'] = augmented_data.index

In [33]:
augmented_data.to_csv('sentences_augmented.csv', header=False, sep='\t', index=False)

In [34]:
augmented_data

           index    lang                                               text
0              0     cmn                                             我們試試看！
1              1     cmn                                            我该去睡觉了。
2              2     cmn                                            你在干什麼啊？
3              3     cmn                                             這是什麼啊？
4              4     cmn                             今天是６月１８号，也是Muiriel的生日！
...          ...     ...                                                ...
9905607  9905607  ar-rom                                         d el zabet
9905608  9905608  ar-rom                            tab law omt w gbthalk..
9905609  9905609  ar-rom  kont badawar fe el laptop la2eet awel soura la...
9905610  9905610  ar-rom      bgd ya enn fe nass amhathum msh mwguda m3ahum
9905611  9905611  ar-rom                                          mashy :')

[9905612 rows x 3 columns]

In [46]:
sents[sents['lang'] == 'zsm']

            index lang                                               text
326679     341946  zsm            Saya pergi ke sekolah pada pukul tujuh.
326781     342048  zsm  Semua manusia dilahirkan bebas dan samarata da...
326792     342059  zsm  Tiada apa-apa lebih penting lagi daripada pers...
326793     342060  zsm        Berapa lamakah kamu telah tinggal di Osaka?
326794     342061  zsm        Kebun kami telah dipenuhi oleh rumput liar.
...           ...  ...                                                ...
9712505  10159076  zsm                             توم ڤرلو بلاجر ڤرنچيس.
9713256  10159830  zsm  Terdapat soalan yang tiada siapa boleh menjawa...
9713260  10159834  zsm          ترداڤت سوءالن يڠ تياد سياڤ بوليه منجاوبڽ.
9713265  10159839  zsm  Ada soalan yang tidak ada siapa pun mampu menj...
9713267  10159841  zsm        اد سوءالن يڠ تيدق اد سياڤ ڤون ممڤو منجاوبڽ.

[4555 rows x 3 columns]

In [36]:
model = fasttext.train_supervised("train.txt", dim=16, minn=2, maxn=4, loss='hs')
model.test('valid.txt')

In [61]:
print(model.predict('sendru varugiren'))
print(model.predict('das habe ich nicht gesehen'))
print(model.predict('Shnu ga3d tsawe al7een'))

(('__label__ind',), array([0.56215721]))
(('__label__deu',), array([1.00003982]))
(('__label__zsm',), array([0.13759123]))

In [62]:
model = fasttext.train_supervised("train_augmented.txt", dim=16, minn=2, maxn=4, loss='hs')
model.test('valid_augmented.txt')

(10000, 0.9804, 0.9804)

In [69]:
print(model.predict('seri appo poittu varen'))
print(model.predict('das habe ich nicht gesehen'))
print(model.predict('Shnu ga3d tsawe al7een'))
print(model.predict('main nahi jaa raha hoon'))
print(model.predict('njan oru pravashyam polum avane kandittilla'))

(('__label__ta-rom',), array([0.36530209]))
(('__label__deu',), array([1.00003624]))
(('__label__ar-rom',), array([0.9988324]))
(('__label__ur-rom',), array([0.6130501]))
(('__label__ml-rom',), array([0.83724761]))

In [ ]:
# model.save_model("langdetect.bin")